backend-express/node_modules
backend-flask/model/
**/.env
*/.env
backend-express/.env
backend-express/google-service-account.json
**/google-service-account.json
*/google-service-account.json

backend-flask/venv/
backend-express/node_modules/
backend-flask/data/
backend-flask/export_full_raw.csv
backend-flask/notebook.ipynb
backend-flask/copernicus_temp_data/
**/__pycache__/

**/uploads
**/exports
**/logs