# Reverse Proxy for environmentprediction
server {
    listen 80;
    listen [::]:80;
    server_name environmentprediction.dhtbkc4.tbu.edu.vn;

    location / {
        proxy_pass http://localhost:8082;  # Pointing to the app on port 8082
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

# Reverse Proxy for environmentalert
server {
    listen 80;
    listen [::]:80;
    server_name environmentalert.dhtbkc4.tbu.edu.vn;

    location / {
        proxy_pass http://localhost:8083;  # Pointing to the app on port 8083
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
